# <Title>

# Problem statement

**Author** : Sunil Yadav || yadav.sunil83@gmail.com || +91 96206 38383 ||

# Solution Approach

 - Step1
 - Step2

# Solution

## Lib Imports

## Data load

In [1]:
import numpy as np
import pandas as pd
data_frame =  pd.read_csv("a.csv")

## Pandas settings

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = 500
pd.options.display.width = None
pd.options.display.max_colwidth = 100
pd.options.display.precision = 3

## Data Overview

In [3]:
# Shape
data_frame.shape

(1, 2)

In [4]:
# DTypes
data_frame.dtypes

a    int64
b    int64
dtype: object

In [5]:
# Nulls
round(data_frame.isnull().mean()*100, 2)

a    0.0
b    0.0
dtype: float64

In [6]:
# Duplicate

len(data_frame) - len(data_frame.drop_duplicates())

0

In [7]:
# Sample
data_frame.sample(1)

   a  b
0  1  2

In [8]:
# Head
data_frame.head(1)

   a  b
0  1  2

In [9]:
# tail
data_frame.tail(1)

   a  b
0  1  2

In [10]:
# Describe
data_frame.describe(include='all')

         a    b
count  1.0  1.0
mean   1.0  2.0
std    NaN  NaN
min    1.0  2.0
25%    1.0  2.0
50%    1.0  2.0
75%    1.0  2.0
max    1.0  2.0

In [11]:
# info
data_frame.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       1 non-null      int64
 1   b       1 non-null      int64
dtypes: int64(2)
memory usage: 144.0 bytes

In [ ]:
# Count of data types
data_frame.dtypes.value_counts()

## EDA

### Univariate

#### value counts

#### distributions

#### Plotting numeric and categorical

### Bi-variate

#### Numeric-Numeric (Scatter plot)

####  Numeric-Categorical (Box and violin)

#### Categorical-Categorical (Cross Table)

### Correlation

##  Pre processing

###  Null Handling

###  Scaling

###  Conversion of categorical (OHE or mean)

###  Outlier Treatment

###  Single valued removal

###  ID Removal

###  Non important column removal

###  Feature creation

###  Dimensionality Reduction

## Modeling

### Train test split

### Class Balancing

### Create model

### With Dimensionality Reduction

#### Model 1

### Evaluate

#### On train

#### On test data

#### Plot evaluation matrix

#### Record performance

#### Model 2

### Evaluate

#### On train

#### On test data

#### Plot evaluation matrix

#### Record performance

#### Model 3

### Evaluate

#### On train

#### On test data

#### Plot evaluation matrix

#### Record performance

### Without Dimensionality Reduction multiple models

#### Model 1

### Evaluate

#### On train

#### On test data

#### Plot evaluation matrix

#### Plot evaluation matrix

#### Record performance

#### Model 2

### Evaluate

#### On train

#### On test data

#### Plot evaluation matrix

#### Record performance

#### Model 3

### Evaluate

#### On train

#### On test data

#### Plot evaluation matrix

#### Record performance

## Best Model Selection

## Conclusion