In [35]:
import numpy as np
import pandas as pd

In [36]:
ipl18 = pd.DataFrame({'Team': ['SRH', 'CSK', 'KKR', 'RR', 'MI', 'RCB', 'KXIP', 'DD'],
                         'Matches': [14, 14, 14, 14, 14, 14, 14, 14],
                         'Won': [9, 9, 8, 7, 6, 6, 6, 5],
                         'Lost': [5, 5, 6, 7, 8, 8, 8, 9],
                         'Tied': [0, 0, 0, 0, 0, 0, 0, 0],
                         'N/R': [0, 0, 0, 0, 0, 0, 0, 0],
                         'Points': [18, 18, 16, 14, 12, 12, 12, 10],
                         'NRR': [0.284, 0.253, -0.070, -0.250, 0.317, 0.129, -0.502, -0.222],
                         'For': [2230, 2488, 2363, 2130, 2380, 2322, 2210, 2297],
                         'Against': [2193, 2433, 2425, 2141, 2282, 2383, 2259, 2304]},
                         index = range(1,9)
                    )

ipl18

   Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1   SRH       14    9     5     0    0      18  0.284  2230     2193
2   CSK       14    9     5     0    0      18  0.253  2488     2433
3   KKR       14    8     6     0    0      16 -0.070  2363     2425
4    RR       14    7     7     0    0      14 -0.250  2130     2141
5    MI       14    6     8     0    0      12  0.317  2380     2282
6   RCB       14    6     8     0    0      12  0.129  2322     2383
7  KXIP       14    6     8     0    0      12 -0.502  2210     2259
8    DD       14    5     9     0    0      10 -0.222  2297     2304

In [37]:
ipl18[((ipl18['NRR'] >0) & (ipl18['For'] > ipl18['Against']))]

  Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1  SRH       14    9     5     0    0      18  0.284  2230     2193
2  CSK       14    9     5     0    0      18  0.253  2488     2433
5   MI       14    6     8     0    0      12  0.317  2380     2282

In [38]:
ipl18.iloc [0:4, [0, 6]]

  Team  Points
1  SRH      18
2  CSK      18
3  KKR      16
4   RR      14

In [39]:
ipl18.loc [1:4, ['Team', 'Points']]

  Team  Points
1  SRH      18
2  CSK      18
3  KKR      16
4   RR      14

In [40]:
ipl17 = pd.DataFrame({'Team': ['MI', 'RPS', 'SRH', 'KKR', 'KXIP', 'DD', 'GL', 'RCB'],
                         'Matches': [14, 14, 14, 14, 14, 14, 14, 14],
                         'Won': [10, 9, 8, 8, 7, 6, 4, 3],
                         'Lost': [4, 5, 5, 6, 7, 8, 10, 10],
                         'Tied': [0, 0, 0, 0, 0, 0, 0, 0],
                         'N/R': [0, 0, 1, 0, 0, 0, 0, 1],
                         'Points': [20, 18, 17, 16, 14, 12, 8, 7],
                         'NRR': [0.784, 0.176, 0.469, 0.641, 0.123, -0.512, -0.412, -1.299],
                         'For': [2407, 2180, 2221, 2329, 2207, 2219, 2406, 1845],
                         'Against': [2242, 2165, 2118, 2300, 2229, 2255, 2472, 2033]},
                         index = range(1,9)
                    )

ipl17

   Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1    MI       14   10     4     0    0      20  0.784  2407     2242
2   RPS       14    9     5     0    0      18  0.176  2180     2165
3   SRH       14    8     5     0    1      17  0.469  2221     2118
4   KKR       14    8     6     0    0      16  0.641  2329     2300
5  KXIP       14    7     7     0    0      14  0.123  2207     2229
6    DD       14    6     8     0    0      12 -0.512  2219     2255
7    GL       14    4    10     0    0       8 -0.412  2406     2472
8   RCB       14    3    10     0    1       7 -1.299  1845     2033

In [41]:
# ipl17.set_index('Team', inplace=True)
# ipl18.set_index('Team', inplace=True)

# ipl17.sort_index(inplace=True)
# ipl18.sort_index(inplace=True)

In [42]:
ipl18

   Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1   SRH       14    9     5     0    0      18  0.284  2230     2193
2   CSK       14    9     5     0    0      18  0.253  2488     2433
3   KKR       14    8     6     0    0      16 -0.070  2363     2425
4    RR       14    7     7     0    0      14 -0.250  2130     2141
5    MI       14    6     8     0    0      12  0.317  2380     2282
6   RCB       14    6     8     0    0      12  0.129  2322     2383
7  KXIP       14    6     8     0    0      12 -0.502  2210     2259
8    DD       14    5     9     0    0      10 -0.222  2297     2304

In [43]:
ipl17

   Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1    MI       14   10     4     0    0      20  0.784  2407     2242
2   RPS       14    9     5     0    0      18  0.176  2180     2165
3   SRH       14    8     5     0    1      17  0.469  2221     2118
4   KKR       14    8     6     0    0      16  0.641  2329     2300
5  KXIP       14    7     7     0    0      14  0.123  2207     2229
6    DD       14    6     8     0    0      12 -0.512  2219     2255
7    GL       14    4    10     0    0       8 -0.412  2406     2472
8   RCB       14    3    10     0    1       7 -1.299  1845     2033

In [46]:
merged = ipl17.merge(ipl18, how='outer', left_on='Team', right_on='Team')
merged.fillna(0, inplace=True)
merged

,Team,Matches_x,Won_x,Lost_x,Tied_x,N/R_x,Points_x,NRR_x,For_x,Against_x,Matches_y,Won_y,Lost_y,Tied_y,N/R_y,Points_y,NRR_y,For_y,Against_y
0,MI,14.0,10.0,4.0,0.0,0.0,20.0,0.784,2407.0,2242.0,14.0,6.0,8.0,0.0,0.0,12.0,0.317,2380.0,2282.0
1,RPS,14.0,9.0,5.0,0.0,0.0,18.0,0.176,2180.0,2165.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0
2,SRH,14.0,8.0,5.0,0.0,1.0,17.0,0.469,2221.0,2118.0,14.0,9.0,5.0,0.0,0.0,18.0,0.284,2230.0,2193.0
3,KKR,14.0,8.0,6.0,0.0,0.0,16.0,0.641,2329.0,2300.0,14.0,8.0,6.0,0.0,0.0,16.0,-0.070,2363.0,2425.0
4,KXIP,14.0,7.0,7.0,0.0,0.0,14.0,0.123,2207.0,2229.0,14.0,6.0,8.0,0.0,0.0,12.0,-0.502,2210.0,2259.0
5,DD,14.0,6.0,8.0,0.0,0.0,12.0,-0.512,2219.0,2255.0,14.0,5.0,9.0,0.0,0.0,10.0,-0.222,2297.0,2304.0
6,GL,14.0,4.0,10.0,0.0,0.0,8.0,-0.412,2406.0,2472.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0
7,RCB,14.0,3.0,10.0,0.0,1.0,7.0,-1.299,1845.0,2033.0,14.0,6.0,8.0,0.0,0.0,12.0,0.129,2322.0,2383.0
8,CSK,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,14.0,9.0,5.0,0.0,0.0,18.0,0.253,2488.0,2433.0
9,RR,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,14.0,7.0,7.0,0.0,0.0,14.0,-0.250,2130.0,2141.0

In [47]:
final_df = merged[['Team']]
for c in [c for c in ipl17.columns if c!= 'Team']:
    x = f"{c}_x"
    y = f"{c}_y"
    final_df[c] = merged[x]+merged[y]

final_df

   Team  Matches   Won  Lost  Tied  N/R  Points    NRR     For  Against
0    MI     28.0  16.0  12.0   0.0  0.0    32.0  1.101  4787.0   4524.0
1   RPS     14.0   9.0   5.0   0.0  0.0    18.0  0.176  2180.0   2165.0
2   SRH     28.0  17.0  10.0   0.0  1.0    35.0  0.753  4451.0   4311.0
3   KKR     28.0  16.0  12.0   0.0  0.0    32.0  0.571  4692.0   4725.0
4  KXIP     28.0  13.0  15.0   0.0  0.0    26.0 -0.379  4417.0   4488.0
5    DD     28.0  11.0  17.0   0.0  0.0    22.0 -0.734  4516.0   4559.0
6    GL     14.0   4.0  10.0   0.0  0.0     8.0 -0.412  2406.0   2472.0
7   RCB     28.0   9.0  18.0   0.0  1.0    19.0 -1.170  4167.0   4416.0
8   CSK     14.0   9.0   5.0   0.0  0.0    18.0  0.253  2488.0   2433.0
9    RR     14.0   7.0   7.0   0.0  0.0    14.0 -0.250  2130.0   2141.0

In [49]:
final_df["Win_Per"]  = 100*(final_df['Won']/final_df['Matches'])
final_df

,Team,Matches,Won,Lost,Tied,N/R,Points,NRR,For,Against,Win_Per
0,MI,28.0,16.0,12.0,0.0,0.0,32.0,1.101,4787.0,4524.0,57.142857
1,RPS,14.0,9.0,5.0,0.0,0.0,18.0,0.176,2180.0,2165.0,64.285714
2,SRH,28.0,17.0,10.0,0.0,1.0,35.0,0.753,4451.0,4311.0,60.714286
3,KKR,28.0,16.0,12.0,0.0,0.0,32.0,0.571,4692.0,4725.0,57.142857
4,KXIP,28.0,13.0,15.0,0.0,0.0,26.0,-0.379,4417.0,4488.0,46.428571
5,DD,28.0,11.0,17.0,0.0,0.0,22.0,-0.734,4516.0,4559.0,39.285714
6,GL,14.0,4.0,10.0,0.0,0.0,8.0,-0.412,2406.0,2472.0,28.571429
7,RCB,28.0,9.0,18.0,0.0,1.0,19.0,-1.170,4167.0,4416.0,32.142857
8,CSK,14.0,9.0,5.0,0.0,0.0,18.0,0.253,2488.0,2433.0,64.285714
9,RR,14.0,7.0,7.0,0.0,0.0,14.0,-0.250,2130.0,2141.0,50.000000

In [51]:
final_df[final_df["Points"] >= 25]['Win_Per'].max()

60.71428571428571